First, we run the separate notebook to set up common packages, variables, and packages of interest.

In [1]:
%run "Common setup.ipynb"

**Latin Hypercube**

You will see below that parameter `x4` comes out as being sensitive even though it should have zero effect

In [2]:
# Generate samples
latin_w_inactive = latin.sample(SPEC_WITH_INACTIVE, LATIN_SAMPLES, seed=SEED_VALUE)

# Run model (example)
latin_Y = Ishigami.evaluate(latin_w_inactive)

Si = sobol.analyze(SPEC_WITH_INACTIVE, latin_Y, print_to_console=False)

total, first, second = Si.to_df()

In [3]:
# Results for 1,000 samples
total.round(4)

        ST  ST_conf
x1  0.8947   0.2212
x2  0.8599   0.2081
x3  0.8579   0.2851
x4  0.8627   0.2302

In [4]:
first.round(4)

        S1  S1_conf
x1  0.0377   0.2368
x2 -0.1321   0.3034
x3 -0.0748   0.2554
x4 -0.0838   0.2718

<hr>

**Saltelli sampling**

Saltelli sampling does not appear to be affected, but the computational cost to run this analysis - for the purpose of detecting completely insensitive parameters - is comparatively high. 

This can be expected to exponentially increase with the number of parameters

In [5]:
# Generate samples
saltelli_w_inactive = saltelli.sample(SPEC_WITH_INACTIVE, SALTELLI_SAMPLES, seed=SEED_VALUE)

# Run model (example)
saltelli_Y = Ishigami.evaluate(saltelli_w_inactive)

Si = sobol.analyze(SPEC_WITH_INACTIVE, saltelli_Y, print_to_console=False)

total, first, second = Si.to_df()

In [6]:
saltelli_Y

array([1.29855261, 1.29855261, 1.13904585, ..., 3.26951906, 1.50822211,
       1.50822211])

In [7]:
total.round(4)

        ST  ST_conf
x1  0.5374   0.1185
x2  0.4654   0.0577
x3  0.2584   0.0369
x4  0.0000   0.0000

In [8]:
first.round(4)

        S1  S1_conf
x1  0.3059   0.0842
x2  0.4601   0.0776
x3  0.0244   0.0832
x4  0.0000   0.0000

<hr>

**Morris method**

In [9]:
# Generate samples
morris_w_inactive = morris_sample(SPEC_WITH_INACTIVE, MORRIS_SAMPLES)

# Run model (example)
morris_Y = ishigami_wrapper(morris_w_inactive)

Si_inactive = morris_analyze(SPEC_WITH_INACTIVE, morris_w_inactive, morris_Y, print_to_console=False)

In [10]:
morris_Y

array([ 5.25000000e+00,  5.25000000e+00, -1.37192054e-16, ...,
       -1.31538200e-15, -1.37192054e-16,  5.25000000e+00])

In [11]:
Si_df = Si_inactive.to_df()

Si_df['mu'].round(4)

x1    8.3039
x2   -0.2520
x3   -0.4374
x4    0.0000
Name: mu, dtype: float64

<hr>

**Benchmarks**


**LHC sampling**

In [12]:
%%timeit
# Generate samples
latin_w_inactive = latin.sample(SPEC_WITH_INACTIVE, LATIN_SAMPLES, seed=SEED_VALUE)

18.9 ms ± 198 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
%%timeit
# Run model directly
latin_Y = Ishigami.evaluate(latin_w_inactive)

3.84 ms ± 102 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%%timeit
Si = sobol.analyze(SPEC_WITH_INACTIVE, latin_Y, print_to_console=False)

15.4 ms ± 675 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**Runtime of Saltelli**

In [15]:
%%timeit
# Generate samples
saltelli_w_inactive = saltelli.sample(SPEC_WITH_INACTIVE, SALTELLI_SAMPLES, seed=SEED_VALUE)

104 ms ± 3.83 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [16]:
%%timeit
# Run model via the wrapper
saltelli_Y = ishigami_wrapper(saltelli_w_inactive)

19.1 ms ± 439 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
%%timeit
Si = sobol.analyze(SPEC_WITH_INACTIVE, saltelli_Y, print_to_console=False)

82.4 ms ± 1.76 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

**Runtime of Morris method**

In [18]:
%%timeit
# Generate samples
morris_w_inactive = morris_sample(SPEC_WITH_INACTIVE, MORRIS_SAMPLES)

271 ms ± 8.32 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [19]:
%%timeit
# Run model (example)
morris_Y = ishigami_wrapper(morris_w_inactive)

19.2 ms ± 222 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
%%timeit
Si = morris_analyze(SPEC_WITH_INACTIVE, morris_w_inactive, morris_Y, print_to_console=False)

136 ms ± 2.46 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)